<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD64jNEut8GM50GuPny5xP1cO3EA4qYumU</string>
	<key>GCM_SENDER_ID</key>
	<string>520482432285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yhgc</string>
	<key>PROJECT_ID</key>
	<string>yhgc-77841</string>
	<key>STORAGE_BUCKET</key>
	<string>yhgc-77841.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520482432285:ios:2d2bf7f8e91021055fadf4</string>
</dict>
</plist>